.header {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 30px 50px;
}

.header .user-name {
  color: #ee57ba;
  padding-left: 5px;
}

.footer {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-section {
  padding: 20px 50px;
}

.date-time {
  color: #000;
  font-size: 20px;
}
.date-time .info {
  padding-left: 5px;
  color: #070a7b;
}
